/* Body styling */
*{
    /* Add this to your main.css file */
.banner-container {
    text-align: center; /* Center the banner horizontally */
    margin-top: 10px;   /* Add some space from the top */
}

.banner {
    width: 100px; /* Reduce the width */
    height: auto; /* Maintains aspect ratio */
}
    font-family: "Monotype Corsiva";
    margin: 0;
    padding: 0;
    background-size: cover;  /* This ensures that the background covers the section */
    background-attachment: fixed;
    }
    /*navigation bar at the top.*/
    .nav {
    background-color: #03074c;
    padding: 20px;
    text-align: right;
    }
    /*Opacity / transparency.*/
    .content {
    margin: 20px;
    padding: 20px;
    background-color: #05a8dc;
    border-radius: 5px;
    opacity: 10.8;
    }
    /* get darker when you hover over them.*/
    .btn {
    display: inline-block;
    padding: 15px 20px;
    background-color: #734707;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration-line: underline;
    }
    .btn:hover {
    background-color: #2f0554;
    }
    /*Form is clear.*/
    .form-group {
    margin: 15px 0;
    }
    .form-input {
    padding: 8px;
    width: 100%;
    border: 1px solid #d81c1c;
    border-radius: 4px;
    }
    .form-group input,
    .form-group select {
    width: 100%;
    padding: 5px;
    border: 2px solid #03074c;
    border-radius: 4px;
    background-color: #FFFFFF;
    }
    /* Flexbox for centering content.*/
    .form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    }
    /*Users need to know if something went wrong or worked ok. Red for errors, green for success.*/
    .alert {
    padding: 10px;
    margin: 10px 0;
    background-color: #9ac0c3;
    border-radius: 5px;
    }
    .alert-success {
    background-color: #D4EDDA;
    color: #155724;
    }
    .alert-error {
    background-color: #F8D7DA;
    color: #721C24;
    }

